body{
  width: 500px;
  position: relative;
  }

p {
  font-size: 18px;
  margin: 10px;
  border-bottom: 2px solid black;
  padding: 10px 0px;
  text-align: justify;
  line-height: 20px;
}
.first img {
  float: left;
  margin: 0px 10px 10px 0px;
}

/*.first:after {
  content: "";
  display: block;
  clear: both;
}*/
.second img{
  float:right;
  margin-left: 10px;
  margin-bottom: 10px;

  }
#wowbox {
  /*z-index: 1;*/
  position: absolute;
  top: 30px;
  left: 130px;
  display: block;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  height:150px;
  width: 220px;
  background-color: white;
  }
#wowbox p{
  margin: 0;
}

strong {
  font-weight: normal;
  color: red;
  /*margin: 0;*/
  padding:  10px;
}

.message {
  /*margin: 0;*/
  padding: 18px 10px;
  }

#wowbox div{
  background-color: grey;
  height: 20px;
  border-radius: 12px;
  float: right;
  padding: 5px;
  margin: 10px 5px;
}

#wowbox .cancel {
  margin-right: 20px;
}

#wowbox .x {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  position: absolute;
  top: -22px;
  right: 20px;
  padding: 0 3px;
}
