<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Hello Super, be a Hero! ;)</title>
</head>
<body>
<a href="posts/add">Add new post</a>
<h1>Hello Super, be a Hero! ;)</h1>
<table>
    <tr>
        <td>Id</td>
        <td>Score</td>
        <td colspan="2">Action</td>
        <td>Content</td>
    </tr>
    <tr th:each="post:${posts}">
        <td th:text="${post.id}"></td>
        <td th:text="${post.score}"></td>
        <td><a th:href="@{'/posts/{id}/upvote'(id=${post.id})}">+</a></td>
        <td><a th:href="@{'/posts/{id}/downvote'(id=${post.id})}">-</a></td>
        <td th:text="${post.content}"></td>
    </tr>
</table>
</body>
</html>