<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Calorie Counter</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Bootstrap theme -->
    <link href="../../static/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <!-- Custom styles for this template -->
    <link href="list.css" rel="stylesheet"/>
</head>
<body>
<form name="comment_form" id="comment_form" action="/meals/create" th:object="${meal}" role="form" method="post"><h2>Add
    new meal</h2>
    <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label">Date</label>
        <div class="col-10">
            <input class="form-control" type="date" value="2017-01-01" id="example-date-input"/>
        </div>
    </div>
    <div>
        <select class="custom-select" th:field="*{type}">
            <option th:each="mealtype : ${allTypes}"
                    th:value="${mealtype}"
                    th:text="${mealtype}">Wireframe
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="totalCalories">Calorie</label>
        <input type="number" name="totalCalories" id="totalCalories" th:field="*{totalCalories}"/>
        <label for="description">Description</label>
        <input id="description" type="text" th:field="*{description}"/>
    </div>
    <input type="submit" value="Submit" id="submit"/>
</form>

</body>
</html>