<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Calorie Counter</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Bootstrap theme -->
    <link href="../../static/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <!-- Custom styles for this template -->
    <link href="list.css" rel="stylesheet"/>
</head>
<body>
<h1>Calorie Counter</h1>
<table class="table">
    <thead class="thead-default">
    <tr>
        <td>Id</td>
        <td>Date</td>
        <td>Type</td>
        <td>Calories</td>
        <td colspan="2">Actions</td>

    </tr>
    </thead>
    <!--<tr th:each="post:${posts}">-->
    <!--<td th:text="${post.id}"></td>-->
    <!--<td th:text="${post.formatDateTime()}"></td>-->
    <!--<td th:text="${post.score}"></td>-->
    <!--<td><a th:href="@{'/posts/{id}/upvote'(id=${post.id})}">+</a></td>-->
    <!--<td><a th:href="@{'/posts/{id}/downvote'(id=${post.id})}">-</a></td>-->
    <!--<td th:text="${post.content}"></td>-->
    <!--<td><a th:href="@{'/posts/{id}/delete' (id=${post.id})}">Delete</a></td>-->
    <!--</tr>-->
</table>

</body>
</html>