<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Calorie Counter</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Bootstrap theme -->
    <link href="../../static/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <!-- Custom styles for this template -->
    <link href="list.css" rel="stylesheet"/>
</head>
<body>
<h1>Calorie Counter</h1>
<button type="button" class="btn btn-link"><a th:href="@{'/meals/add'}">Add new meal</a></button>
<table class="table">
    <thead class="thead-default">
    <tr>
        <!--<td>Date</td>-->
        <td>Type</td>
        <td>Description</td>
        <td>Calories</td>
        <td colspan="2">Actions</td>
    </tr>
    </thead>
    <tr th:each="meal:${meals}">
        <!--<td th:text="${post.date}"></td>-->
        <td th:text="${meal.type}"></td>
        <td th:text="${meal.description}"></td>
        <td th:text="${meal.totalCalories}"></td>
        <!--<td><a th:href="@{'/meals/{id}/delete' (id=${post.id})}">Delete</a></td>-->
    </tr>
</table>

</body>
</html>