p {
  font-size: 18px;
  width: 300;
  margin: 0;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  padding: 15px;
}
.boxes {
  border-bottom: 0;
}
p:hover {
  background-color: yellow;
}
