h1 {
  color: blue;
}
h2 {
  color: orange;
}
strong {
  color: red;
}
em {
  color: blue;
  font-style: italic;
}
ul {
  list-style-type: square;
  color: blue;
}
.insidelist {
  list-style-type: disc;
  color: black;
}
.apple {
  color: red;
}
ol {
  color: black;
}
